version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

    # Customize commit messages
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"

    groups:
      github-actions:
        patterns:
          - "*"