name: Run Tests with Docker image

on:
  pull_request_target:
    types: [labeled]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    if: |
      (github.event_name == 'push') ||
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'pull_request_target' &&
       github.event.action == 'labeled' &&
       github.event.label.name == 'safe-to-test')
    permissions:
      id-token: write
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - cuda_base_image_tag: "12.1.1-cudnn8-devel-ubuntu22.04"
          - cuda_base_image_tag: "12.2.2-cudnn8-devel-ubuntu22.04"
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-${{ matrix.cuda_base_image_tag }}
      cancel-in-progress: true
    uses: ./.github/workflows/ci-test-reusable.yml
    with:
      cuda_base_image_tag: ${{ matrix.cuda_base_image_tag }}
    secrets: inherit
