name: Run Tests

on:
  push:
  workflow_dispatch:

jobs:
  start-aws-runner:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      mapping: ${{ steps.aws-start.outputs.mapping }}
      instances: ${{ steps.aws-start.outputs.instances }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::203627415330:role/of-gha-runner 
          aws-region: us-east-1
      - name: Create cloud runner
        id: aws-start
        uses: omsf/start-aws-gha-runner@v1.1.0
        with:
          aws_image_id: ami-0754c6e75b3b97dcd  # Deep Learning AMI Neuron (Ubuntu 22.04)
          aws_instance_type: t3.2xlarge 
          aws_home_dir: /home/ubuntu
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
    
  test-openfold-docker:
    runs-on: ${{ fromJSON(needs.start-aws-runner.outputs.instances) }}
    needs:
      - start-aws-runner
    steps:
      - uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      
      - name: Pull pre-built Docker image
        run: docker pull ghcr.io/aqlaboratory/openfold3-testing:latest
      
      - name: Build test layers on Docker image 
        run: docker build -t openfold3-test-runner -f openfold3/tests/Dockerfile . 
      
      - name: Run unit tests
        run: docker run -v ${{ github.workspace }}:/opt/openfold3 openfold3-test-runner:latest pytest openfold3/tests

  stop-aws-runner:
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: read
    needs:
      - start-aws-runner
      - test-openfold-docker 
    if: ${{ always() }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::203627415330:role/of-gha-runner 
          aws-region: us-east-1
      - name: Stop instances
        uses: omsf/stop-aws-gha-runner@v1.0.0
        with:
          instance_mapping: ${{ needs.start-aws-runner.outputs.mapping }}
        env:
          GH_PAT: ${{ secrets.GH_PAT }}